

h5 {

    text-align: center;
    color: darkblue;
    font-size: 25px;

}


p {
    color: pink;
}

body {
    background-image: url('./ImageFile/messi.jpg');
    background-repeat: no-repeat;
}


